[project]
	description = Random BASH scripts from my head
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stanislav (elluvium)
[access "refs/for/refs/*"]
	read = group user/Stanislav (elluvium)
	push = group user/Stanislav (elluvium)
	label-Code-Review = -2..+2 group user/Stanislav (elluvium)
	label-Verified = -1..+1 group user/Stanislav (elluvium)
	rebase = group user/Stanislav (elluvium)
	removeReviewer = group user/Stanislav (elluvium)
	submit = group user/Stanislav (elluvium)
[access "refs/heads/*"]
	read = group user/Stanislav (elluvium)
	create = group user/Stanislav (elluvium)
	push = +force group user/Stanislav (elluvium)
	pushMerge = group user/Stanislav (elluvium)
[access "refs/tags/*"]
	push = group user/Stanislav (elluvium)
	push = +force group user/Stanislav (elluvium)
